<a href="https://colab.research.google.com/github/adtitovich/numpy-38/blob/main/m2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Домашнее задание «Библиотека pandas»***

**Задание 1**

Скачайте  [с сайта](https://grouplens.org/datasets/movielens/) датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [19]:
import pandas as pd

from google.colab import drive

# монтируем google-диск для чтения ratings.csv
drive.mount('/content/gdrive') 
data = pd.read_csv('/content/gdrive/My Drive/ratings.csv')

#отключаем google-диск
drive.flush_and_unmount() 

# считаем кол-во оценок 5.0
data[data['rating'] == 5.0]['movieId'].value_counts().head(10)

Mounted at /content/gdrive

318     39553
296     32169
356     25918
260     25804
2571    25482
527     24853
593     24801
858     24418
50      21585
2959    21486
Name: movieId, dtype: int64

**Задание 2**

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity

In [22]:
import pandas as pd

from google.colab import drive

# монтируем google-диск для чтения ratings.csv
drive.mount('/content/gdrive') 
data = pd.read_csv('/content/gdrive/My Drive/power.csv')

#отключаем google-диск
drive.flush_and_unmount() 


#подсчитываем суммарное потребление
data[
    (data['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) & 
    (data['category'].isin([4, 12, 21])) & 
    (data['year'].between(2005, 2010)) & 
    (data['quantity'] > 0)
]['quantity'].sum()

Mounted at /content/gdrive

240580.0

**Задание 3**

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.
Примеры страниц:
```
https://fortrader.org/quotes;
www.finanz.ru...om-vremeni.
```

In [2]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/10_Gigabit_Ethernet'
data = pd.read_html(url, match = 'Standard', encoding = 'utf-8')

data[0].head()

,Standard,Publication year,Description
0,802.3ae,2002[9],10 Gbit/s Ethernet over fiber for LAN (10GBASE...
1,802.3ak,2004,10GBASE-CX4 10 Gbit/s Ethernet over twinaxial ...
2,802.3-2005,2005,A revision of base standard incorporating 802....
3,802.3an,2006,10GBASE-T 10 Gbit/s Ethernet over copper twist...
4,802.3ap,2007,"Backplane Ethernet, 1 and 10 Gbit/s over print..."